@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  src: url("./assets/Vazir.ttf");
}

@layer base {
  ::selection {
    background-color: transparent;
    color: inherit;
  }

  ::-moz-selection {
    background-color: transparent;
    color: inherit;
  }

  * {
    -ms-user-select: none;
    user-select: none;
  }
}

@layer components {
  .rtl-direction {
    direction: rtl;
  }
}
